<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
<style>
nav ul {float: right;}
nav ul li {float: right; }

</style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Copyright © {{ year }} My Site</p>
    </footer>
</body>
</html>